@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.header {
  background-color: black;
  text-align: center;
  height: 80px;
  padding-top: 20px;
    margin-bottom: 10%;
}
h1 {
  color: white;
  font-size: 30px;

}
a {
  color: black;
  text-align: center;
  font-size: 30px;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background-image: url(Pictures/GoodMarrgharita.jpg);
  background-size: cover;
  flex-direction: column;
}

span {
border-bottom: double 3px #FFFFFF;
}

.confirmation {
margin: auto;
align-self: center;
padding: 20px;
width: 500px;
background-color: black;
opacity: 0.7;
font-size: 25px;
font-family: sans-serif;
color: #FFFFFF;

}

a {
  font-size: 20px;
  color: white;
}

.addresAndPhone {
   text-align: right;
}