@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.header {
  background-color: black;
  text-align: center;
  height: 80px;
  padding-top: 20px;
}
a {
  color: white;
  font-size: 30px;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: cursive;
  background-image: url(Pictures/Pizzeria.jpg);
  background-size: cover;
}
.bestellung {
  background-color: black;
  color: white;
  opacity: 0.6;
  text-align: left;
  width: 30%;
  height: 75%;
  align-self: center;
}

form {
  font-size: 100%;
}
select {
  font-size: 110%;
}
.pizzen {
  font-size: 180%;
  margin: 20%;
}

label {
text-align: center;
}

.text {
 font-size: 200%;
 text-align: center
}

.formular {
  text-align: center;
}

span {
    font-size: 75%;
}
p {
    color: white;
}
