@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.header {
  background-color: black;
  text-align: center;
  height: 80px;
  padding-top: 20px;
}
a {
  color: white;
  font-size: 30px;
}
html, body {
  height: 100%;
}
body {
  font-family: cursive;
  margin: 0px;
  background-image: url(Pictures/pizzaofen.jpg);
  background-size: cover;
}

table {
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  height: 45%;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
th {
  background-color: grey;
}
td {
  background-color: lightblue;
}
