@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html, body {
  height: 100%;
}
body {
  background-image: url(Pictures/GoodMarrgharita.jpg);
  background-size: cover;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px;
}
.header {
  background-color: black;
  text-align: center;
  height: 80px;
  padding-top: 20px;
}
article{
  background-color: black;
  opacity: 0.6;
  width: 50%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: center;
}
p {
  font-size: 20px;
}
h1 {
  font-size: 30px;
}
a {
  color: white;
  font-size: 30px;
}
.content {
  display: flex;
  flex-direction: row;
}

